@* Billing address inputs. Names match SinglePurchaseForm / SeasonPurchaseForm properties. *@
<h6 class="mt-4">Rechnungsangaben</h6>
<div class="row g-2">
    <div class="col-md-6">
        <label class="form-label">Vorname</label>
        <input class="form-control" name="FirstName" required />
    </div>
    <div class="col-md-6">
        <label class="form-label">Nachname</label>
        <input class="form-control" name="LastName" required />
    </div>
    <div class="col-md-8">
        <label class="form-label">Strasse / Nr.</label>
        <input class="form-control" name="Street" required />
    </div>
    <div class="col-md-4">
        <label class="form-label">Adresszusatz</label>
        <input class="form-control" name="AddressLine2" />
    </div>
    <div class="col-md-3">
        <label class="form-label">PLZ</label>
        <input class="form-control" name="PostalCode" required />
    </div>
    <div class="col-md-5">
        <label class="form-label">Ort</label>
        <input class="form-control" name="City" required />
    </div>
    <div class="col-md-4">
        <label class="form-label">Land</label>
        <input class="form-control" name="Country" value="Schweiz" />
    </div>
    <div class="col-md-6">
        <label class="form-label">E-Mail</label>
        <input type="email" class="form-control" name="Email" required />
    </div>
    <div class="col-md-6">
        <label class="form-label">Telefon</label>
        <input class="form-control" name="Phone" />
    </div>
</div>
